@font-face {
    font-family: 'IRANYekanXFaNum';
    src: url('../fonts/IRANYekanXFaNum-Medium.woff2') format('woff2'),
        url('../fonts/IRANYekanXFaNum-Medium.woff') format('woff'),
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'IRANYekanXFaNum' !important;
}


